@font-face {
    font-family: 'Unifraktur';
    src: url('../fonts/UnifrakturMaguntia-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
* display: inline-block; - for border size
* text-align: center; - to center
*/

body{
    background-image: url(../images/Background_1.jpg);
}

div{
    border: 2px solid white;
    margin: 1%;
    padding: 1%;
    background-image: url(../images/header_back.jpg);
    border-radius: 10px;
}

button {
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    border-color: white;
    font-family: 'Unifraktur', 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 1%;
}
  
button:hover {
    background-color: white;
    color:black;
    border-color: black;
}

input,textarea{
    margin: 5px;
    display: block;
    border-color: black;
}

input:focus{
    border-color: white;
}

.cred{
    width: 25%;
    margin: 1% auto;
    text-align: center;
    padding: 1%;
}

.header-container {
    text-align: center;
    border-width:0;
    background-image: none;
}

h1, .header_paragraph {
    font-family: 'Unifraktur', 'Times New Roman', Times, serif;
    color: white;
    background-image: url(../images/header_back.jpg);
    border: 2px solid white;
    border-radius: 10px;
    padding: 1%;
    display: inline-block;
}

h3, h2{
    font-family: 'Unifraktur', 'Times New Roman', Times, serif;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    background-color: black;
    padding: 1%;
}

p{
    color: white;
}

.button_after_login{
    font-size: 20px;
    padding: 5px, 20px;
    background-color: black;
}

.button_after_login:hover{
    background-color: white;
    color: black;
}

#post_image{
    height: 7%;
    width: 2.75%;
    display: inline-block;
    vertical-align: middle;
}

#post_title{
    display: inline-block;
    vertical-align: middle;
}

.post_container{
    background-image: url(../images/post_back.png);
}

#edit_post_body{
    background-image: url(../images/edit_post_back.jpg);
    background-size: cover;
}

.just_button{
    width: 30%;
    margin: 0% auto;
    text-align: center;
    background-image: none;
    border: none;
}

.special_button{
    display: inline-block;
    width: 15%;
    width: 35%;
    font-size: x-large;
}

textarea{
    width: 100%;
    height: 30%;
}

.center_input{
    display: inline-block;
}

.center_button{
    display: inline-block;
}

#about{
    background-image: url(../images/About_Cover.jpg);
    background-size: cover;
    background-position: left center;
}

.form_after_login{
    display: inline;
}

.post_form{
    display: inline-block;
}

#about_image_div{
    width: 30%;
    margin: 0% auto;
    text-align: center;
    background-image: none;
    border: none;
}

#about_image{
    width: 37.5%; /*25*/
    height: 22.5%; /*15*/
}